body{
background:#181818;
font-family:Arial,sans-serif;
color:white;
margin:0;
padding:20px;
}
.time{font-size:90px}
.date{font-size:30px;margin-bottom:20px}
.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}
.card{
background:#666;
border-radius:25px;
padding:35px;
font-size:24px;
}
.wifi,.active{
background:#3f5efb;
}
.small{
padding:25px;
text-align:center;
}
#visualizer{
width:100%;
height:250px;
margin-top:25px;
background:#111;
border-radius:20px;
}
audio{
width:100%;
margin-top:15px;
}
